<h1 class="center"><strong><%= category.toLowerCase() %></strong></h1>
<ul class="thumbnails listing-products">
    <% for (var i = 0, l = categoryList.length, p; i < l; i++) { %>
        <% p = categoryList[i] %>
        <li class="span3">
            <div class="product-box">
                <span class="sale_tag"></span>
                <a href="product_detail/<%= p.sku %>"><img alt="" src="<%= p.url %>"></a><br/>
                <a href="product_detail/<%= p.sku %>" class="title"><%= p.name %></a><br/>
                <a href="category/<%= p.category.toLowerCase() %>" class="category"><%= p.category %></a>
                <p class="price"><%= p.price %>€</p>
            </div>
        </li>
    <% } %>
</ul>